@import url('https://fonts.googleapis.com/css2?family=Roboto');

body{
    font-family: 'Roboto';
    margin: 0px;
}

#background-image {
    background-position: center;
    width: 100%;
    padding: 400px 0px;
    background-image: url(/apple-pie/images/apple-pie.jpg);
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;

}
h1{
    font-size: 8em;
    color: white;
    font-weight: 100;

    
}

.main-text {
    font-size: 1.5em;
    margin-top: 60px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-color: black;
    border-bottom-style: solid;
    border-width: 1px;
    
    
}

.ingredients {
    font-size: 1.5em;
    margin-top: 60px;
    margin-left: 200px;
    margin-right: 200px;
    border-color: black;
    border-bottom-style: solid;
    border-width: 1px;

}
.image-ingredients {
   
    align-content: center;

}
    
    
